<div class="container">
    <h1 style="margin-left:100px;">Open market</h1>

    <div class="row">
        <div class="col  l3" ng-repeat="item in items">
            <div class="card">
                <div class="card-image">
                    <img src="http://materializecss.com/images/sample-1.jpg"/>
                    <span class="card-title">{{item.name}}</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red" ng-click="addItem(item)"><i
                            class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>{{item.description}}</p>
                    <p>${{item.description}}</p>
                </div>


            </div>

        </div>

    </div>
</div>z